* {
	box-sizing: boarder-box;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

body.no-scroll {
	overflow: hidden;
	/* Disable scrolling when modal is open */
}

/* Main Section CSS */
.main {
	background-color: #e3e3e3;
	padding: 0rem 4rem;
	box-shadow: 16px 16px 48px #2e364330;
}

.main__container {
	display: grid;
	grid-template-columns: 60% 1fr;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	/*gap size above the context*/
	height: 70vb;
	background-color: #e3e3e3;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 0;
}

.main__content {
	margin-top: -10rem;
}

/* logo in main */
.main__content img {
	opacity: 0.2;
	margin-left: 13%;
	margin-bottom: -25%;
	width: 70%;
	height: auto;
}

.logo__copyright {
	font: 13px 'Oswald', sans-serif;
	color: #555;
	letter-spacing: 1px;
	margin-left: 60%;
}

.main__content h1 {
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.3;
	color: #292929;
}

.main__content h2 {
	margin-top: 2rem;
	font-size: 3rem;
	font-weight: 400;
	color: #292929;
}

.main__content p {
	margin-top: 2rem;
	font-size: 1.3rem;
	line-height: 1.6;
	/* Adjust line height as needed */
	/* font-weight: 700; */
	color: #292929;
	/**/
}

.main__btn {
	font-size: 1rem;
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	padding: 14px 32px;
	border: none;
	border-radius: 4px;
	color: #fff;
	margin-top: 2rem;
	cursor: pointer;
	position: relative;
	transition: all 0.35s;
	outline: none;
}

/*hover fade action button color change when cursor on the button*/
.main__btn a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
}

.main__btn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.35s;
	border-radius: 4px;
}

.main__btn:hover {
	color: #fff;
}

.main__btn:hover:after {
	width: 100%;
}

img {
	border-radius: 50%;
}

.main__profile_pic--container {
	width: 600px;
	height: 600px;
	opacity: 0.7;
	margin-bottom: 150px;
}

#main__profile_pic {
	width: 100%;
	height: auto;
	margin-top: 30px;
	/* Move image down by 20px */
	margin-bottom: 20px;
	/* Move image up by 20px */
}

/* Mobile Responsive */
@media screen and (max-width: 850px) {
	.main {
		padding: 3rem 4rem;
	}

	.main__container {
		display: grid;
		grid-template-columns: auto;
		align-items: center;
		justify-self: center;
		margin: 0 auto;
		margin-top: 0rem;
		width: 100%;
		height: 90vh;
	}

	.main__content {
		text-align: center;
		margin: 0 auto;
	}

	.main__content h1 {
		text-align: center;
		font-size: 2.5rem;
	}

	.main__content h2 {
		text-align: center;
		font-size: 2rem;
	}

	.main__content p {
		text-align: center;
		margin-top: 1rem;
		font-size: 100%;
	}

	#main__profile_pic {
		width: 100%;
		height: auto;
		margin-bottom: 5rem;
		/* Move image up by 20px */
	}
}

/* Skills Section CSS */
.skills {
	background-color: none;
	padding: 0rem 1rem;
}

.skills__content {
	margin-top: 3rem;
	margin-bottom: 0rem;
}

.skills__content h1 {
	/* font: 300 60px 'Oswald', sans-serif; */
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	line-height: 2;
	color: #292929;
}

.skills__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	/* Adjust gap size between items */
	margin: 0 auto;
	height: 90vh;
	/* Adjust height as needed */
	background-color: none;
	margin-top: -6rem;
	width: 100%;
	max-width: 1300px;
	padding: 0;
}

label {
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	color: #525d6f;
	opacity: .4;
	transition: opacity .4s ease-in-out;
	display: block;
	width: calc(100% - 48px);
	text-align: right;
	z-index: 100;
	user-select: none;
	padding: 20px;
	position: relative;
}

/* Hides the radio button from view 
little dot selection button*/
input[type="radio"] {
	display: none;
	width: 0;
}

/* when tab is checked */
input[type="radio"]:checked+label {
	font-size: 28px;
	font-weight: 900;
	color: rgb(113, 101, 237);
	transition: all 0.3s ease;
}

label:hover,
input[type="radio"] {
	color: #a097ff;
}

label:hover,
input[type="radio"]:checked+label {
	opacity: 3;
}

.popup {
	width: 100%;
	height: 80%;
	min-height: 550px;
	max-height: 480px;
	border-radius: 48px;
	box-sizing: border-box;
	border: 16px solid #e9e9e9;
	background-color: #e3e3e3;
	overflow: hidden;
	box-shadow: 16px 16px 48px #2e364330;
	display: flex;
}

.tabs {
	width: 100%;
	max-width: 240px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.tab-content {
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 30px;
	overflow: hidden;
}

.tab-content h2 {
	font-size: 2rem;
	font-weight: 700;
	color: #292929;
}

.tab-content p {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #292929;
	padding: 2rem;
}

.tab-pane {
	display: none;
	height: 100%;
	overflow: hidden;
	padding: 30px;
	box-sizing: border-box;
}

.tab-pane.active {
	display: block;
}

.marker {
	position: absolute;
	width: 5px;
	height: 0;
	background-color: #4837ff;
	left: 0;
	top: 0;
	transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* .marker #bottom,.marker #top {
background-color: #ebf0f4;
box-shadow: 32px 32px 48px #2e364315;
}

.marker #top {
height: calc(50%);
margin-bottom: auto;
border-radius: 0 0 32px 0;
}

.marker #bottom {
height: calc(50% - 72px);
border-radius: 0 32px 0 0;
}

#tab1:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 0));}
#tab2:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 1));}
#tab3:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 2));}
#tab4:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 3));} */

/* Mobile Responsive */
@media (max-width: 850px) {
	.skills {
		padding: 3rem 1rem;
		/* Adjust padding for top and bottom */
	}

	.popup {
		display: flex;
		/* Use flexbox to align items */
		flex-direction: column;
		/* Stack items vertically */
		justify-content: auto;
		/* Center-align items */
		align-items: center;
		/* Center-align items horizontally */
		margin-top: 5rem;
		padding: 0;
		/* Add padding for spacing */
	}

	.tabs {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		/* Align tabs to the start */
		align-items: center;
		overflow-x: auto;
		/* Enable horizontal scrolling if tabs exceed width */
		width: 100%;
		/* Occupy full width */
		max-width: 90%;
		height: auto;
	}

	.tabs input[type="radio"]+label {
		text-align: left;
		font-size: 25px;
		/* Adjust tab label font size */
		padding: 10px 15px;
		/* Adjust padding around tab labels */
	}

	.tab-pane {
		justify-content: center;
		display: none;
		/* Hide tab content by default */
		width: 100%;
		/* Occupy full width */
		max-width: 100%;
		/* Ensure content fits within popup */
		overflow: auto;
		/* Enable scrolling if content exceeds height */
	}

	.tab-pane.active {
		display: block;
		/* Show active tab content */
	}

	.tab-content {
		text-align: left;
		flex: 1;
	}

	.marker {
		display: none;
		/* Hide marker in horizontal layout */
	}
}

/* Contact section */
.contact {
	background-color: none;
	padding: 0rem 1rem;
}

.contact__content {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.contact__content h1 {
	font: 300 60px 'Oswald', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	line-height: 2;
	color: #292929;
}

.contact-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	height: 70vh;
	padding: 20px;
	position: relative;
	max-width: 1300px;
}

/* Left contact page */
.contact-popup {
	position: relative;
	width: 70%;
	height: 90%;
	/* border-radius: 10px;
	box-sizing: border-box;
	border: 8px solid #e9e9e9;
	background-color: #e3e3e3;
	box-shadow: 16px 16px 48px #2e364330; */
	overflow: hidden;
	justify-content: center;
	/* Center content horizontally */
	align-items: center;
	/* Center content vertically */
	padding: 20px;
	/* Add padding inside the popup */
	margin-top: -60px;
}

.form-horizontal {
	/*float: left;*/
	max-width: 100%;
	font-family: 'Lato';
	font-weight: 600;
}

.form-group h1 {
	font-size: 1rem;
	font-weight: 700;
	color: #292929;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

.form-control,
textarea {
	margin-bottom: 1rem;
	padding: 3px;
	width: 100%;
	/* max-width: 700px; */
	height: 220px;
	/* Adjust height as needed */
	border-radius: 5px;
	border: 3px solid #b6b6b6;
	background-color: #ffffff;
	letter-spacing: 1px;
	box-sizing: border-box;
	/* Ensure padding and border are included in the width */
	font-size: 18px;
}

.form-control:focus,
textarea:focus {
	border: 5px solid #a097ff;
}

#name,
#email {
	height: 50px;
}

.send-button {
	height: 70px;
	width: 100%;
	border-radius: 5px;
	border: 3px solid #b6b6b6;
	background-color: #a097ff;
	overflow: hidden;
	transition: all .2s ease-in-out;
	display: flex;
	/* Use flexbox for centering */
}

.send-button:hover {
	border: 3px solid #4837ff;
	background-color: rgb(113, 101, 237);
}

.alt-send-button {
	margin-top: 19px;
	width: 100%;
	height: 20px;
	transition: all .2s ease-in-out;
	color: whitesmoke;
}

.send-text {
	display: block;
	text-align: center;
	margin-top: 27px;
	font: 700 25px 'Lato', sans-serif;
	letter-spacing: 2px;
	color: whitesmoke;
}

.alt-send-button:hover {
	transform: translate3d(0px, -54px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
	margin-left: 5rem;
	align-items: right;
	max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
	list-style-type: none;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 1rem;
}

.list-item {
	align-items: center;
	width: 100%;
	line-height: 4;
	color: #a097ff;
}

.contact-text {
	font: 300 20px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #000000;
}

.name {
	margin-left: 45px;

}

.place {
	margin-left: 40px;
}

/* .phone {
	margin-left: 56px;
} */

.gmail {
	margin-left: 40px;
}

.contact-text a {
	color: #000000;
	text-decoration: none;
	transition-duration: 0.2s;
}

.contact-text a:hover {
	color: #4837ff;
	text-decoration: none;
	transition: font-size 0.3s ease;
	/* Smooth transition for font size */
}


/* Social Media Icons */
.contact-icon {
	margin-left: 0px;
	z-index: 3;
	/* Ensure the link is on top */
	display: block;
	/* Ensure it takes up the entire space of its parent */
	width: 100%;
	/* Fill the parent element */
	height: 100%;
	/* Fill the parent element */
	text-align: center;
}

.social-media-list {
	position: relative;
	text-align: left;
	width: 100%;
	margin: 10px auto;
	padding: 0;
}

.social-media-list li a {
	position: relative;
	display: block;
	/* Ensure it takes up the entire space of its parent */
	width: 100%;
	/* Fill the parent element */
	height: 100%;
	/* Fill the parent element */
	color: #fff;
	cursor: pointer;
	z-index: 3;
}

.social-media-list li {
	position: relative;
	display: inline-block;
	height: 60px;
	width: 60px;
	/* distance between icons */
	margin: 10px 10px;
	line-height: 60px;
	border-radius: 50%;
	color: #fff;
	background-color: #a097ff;
	transition: all .2s ease-in-out;
	text-align: center;
	/* Center icon horizontally */
	vertical-align: middle;
	z-index: 1;
}

.social-media-list li img {
	/* display: inline-block; */
	vertical-align: middle;
	/* Align image vertically in the center */
	width: 70%;
	/* Ensure image fills the container */
	height: auto;
	/* Maintain aspect ratio */
	/* somehow it does not in the center so i have to adjust manually */
	margin-bottom: 4px;
	z-index: 3;
}

.social-media-list li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 2px #4837ff;
	transition: all .2s ease-in-out;
}

.social-media-list li:hover {
	background-color: rgb(113, 101, 237);
}

.social-media-list li:hover:after {
	opacity: 1;
	transform: scale(1.12);
	transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
	color: #000;
}

.copyright {
	font: 200 14px 'Oswald', sans-serif;
	color: #555;
	letter-spacing: 1px;
	margin-top: 1rem;
	text-align: left;
}

hr {
	border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
	.contact-wrapper {
		display: flex;
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	.contact-popup {
		width: 100%;
		height: 100%;
		max-width: 600px;
		justify-content: center;
		/* Center content horizontally */
		align-items: center;
		/* Center content vertically */
	}

	.direct-contact-container,
	.form-horizontal {
		margin: 0 auto;
	}

	.direct-contact-container {
		margin-top: 3rem;
		max-width: 100%;
	}

	.name {
		margin-left: 35px;

	}

	.place {
		margin-left: 30px;
	}

	.gmail {
		margin-left: 30px;
	}

	.social-media-list li {
		height: 60px;
		width: 60px;
		line-height: 60px;
	}

	.social-media-list li:after {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 410px) {
	.send-button {
		width: 100%;
		/* Ensure width is 100% of the parent container */
	}
}

/*57:45*/